/*Rodapé*/
.rodape{
    box-shadow: black 0px 0px 8px;
    background-color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", sans-serif; 
    height: auto;
}
.container-rodape{
    display: flex;
    justify-content: space-around;
    height: auto;
    color: whitesmoke;
    width: auto;
    max-width: 1024px;
    margin: auto;
    padding-left: 10px;
    font-size: 85%;
    overflow: hidden;
}
.container-rodape h1{
    font-size: 200%;
    font-family: "Poppins", sans-serif;
}
.responsive-apps a{
    text-decoration: none;
}
/*Redes sociais e Apps*/
.tsb-redes-app{
    max-width: 250px;
    max-height: auto;
    padding: 5px;
    margin: 5px;
}
.tsb-redes-app p{
    color: whitesmoke;
    margin: 0;
}
#logo-tsb{
    display: flex;
    font-size: 160%;
}
#logo-tsb p{
    font-size: 135%;
}
#logo-tsb a{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}
.logos-redes{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin: 2px;
}
.logos-redes > .col-md-1{
    padding: 0px;
}
/*Botao App Android*/
.app-android{
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 6px;
    display: flex;
    border: 1px solid rgba(245, 245, 245, 0.5);
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 7vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.app-android p{
    font-weight: lighter;
    font-size: 80%;
    height: 10px;
    width: auto;
    text-align: center;
}
.app-android h1{
    text-align: center;
    font-size: 130%;
    margin: 2px;
    color: whitesmoke;
}
.app-android-txt{
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    max-height: 7vh;
}
/*Botao App Apple*/
.app-apple{
    cursor: pointer;
    margin-top: 6px;
    margin-bottom: 2px;
    display: flex;
    border: 1px solid rgba(245, 245, 245, 0.5);
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 7vh;
    font-family: "Poppins", sans-serif;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.app-apple p{
    font-weight: lighter;
    font-size: 80%;
    height: 10px;
    width: auto;
    text-align: center;
}
.app-apple h1{
    text-align: center;
    font-size: 130%;
    margin: 0px 2px 2px 2px;
    color: whitesmoke;
}
.app-apple-txt{
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    max-height: 7vh;
}
.footer-icons{
    color: whitesmoke;
    font-size: 130%;
}
.android-icon{
    font-size: 125%;
    margin: 3px;
    color: whitesmoke;
}
.apple-icon{
    font-size: 160%;
    margin: 6px 6px 6px 4px;
    color: whitesmoke;
}

/*Contatos*/
.container-contato{
    width: auto;
    max-width: 250px;
    max-height: auto;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
}
.divs-contatos{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding: 1px;
}
.contatos{
    display: flex;
    align-items: center;
    padding: 1px;
}
.contatos a{
    color: whitesmoke;
    text-decoration: none;
}
/*Transparencia*/
.container-transparencia{
    width: auto;
    max-width: 250px;
    max-height: auto;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
}
.links-transparencia{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding: 1px;
}
.conteudos-t{
    display: flex;
    align-items: center;
    padding: 2px;
}
.conteudos-t a{
    text-decoration: none;
    color: whitesmoke;
}
/*Hover Logo/Home, Redes Sociais, Android/Apple, Contatos e Transparencia*/
#logo-tsb i:hover, 
.logos-redes i:hover,
.app-apple h1:hover, 
.app-android h1:hover, 
.contatos a:hover, 
.conteudos-t a:hover{ 
    color: rgb(31, 189, 155);
}
@media screen and (max-width: 768px) {
    .btnPlanos input{
        margin-right: 0px;
    }
    .header{
        flex-direction: column;
        padding-left: 0px;
    }
    .header a{
        padding-inline: 15px;
    }
    .tsb-redes-app p{
        display: none;
    }
    #logo-tsb{
        display: none;
    }
    #logo-tsb a{
        display: none;
    }
    .logos-redes{
        display: flex;
        height: 100%;
    }
    .logos-redes > .col-sm i{
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
    .responsive-apps{
        display: none;
    }
    .logos-redes > .col-md-1{
        font-size: 140%;
    }
}
@media screen and (max-width: 599px){
    .txt-app-mobile{
        display: none;
    }
    .botao-app-mobile input{
        width: 40vw;
        height: 8vh;
        font-size: 120%;
    }
    .txtSeguro{
        font-size: 170%;
    }
    .container-servs-beneficios{
        padding-left: 0px;
    }
    .conteudo2{
        padding: 30px;
    }
    .txtSeguro{
        font-size: 150%;
        width: 42vw;
    }
}
@media screen and (max-width: 540px){
    .txtcelular2, .txtcalendario2, .txtclipboard2{
        display: none;
    }
    .planodefundo{
        background-image: none;
    }
    .subcontainer-img-txt{
        width: 100vw;
    }
    .txtSeguro{
        max-width: 100vw;
        width: 60vw;
    }
    .imgfire, .imglight, .imgshield{
        max-width: 100vw;
    }
    .img1, .img2, .img3, .img4, .img5, .img6{
        margin-left: 8%;
        margin-right: 8%;
    }
    .container-servs-beneficios{
        margin-right: 20px;
    }
    .txt4{
        margin-left: -10px;
    }
    .foto-app-mobile{
        width: 70vw;
        overflow: hidden;
        background-size: 150%;
        height: 28vh;
    }
    .retangulo-app-mobile{
        width: 70vw;
    }
    .texto-e-btn{
        width: 70vw;
    }
    .logos-redes > .col-md-1{
        font-size: 140%;
    }
}