<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Top Seguros Brasil <span id="year"></span> Designed & Developed by: <a href="https://www.linkedin.com/in/antonio-carlos-cajueiro-0135b21bb/">Antonio</a></span>
        </div>
    </div>
</footer>
<div class="loader-screen" *ngIf="layoutService.isLoading | async">
    <div class="loader">
        <div class="bg"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>