<footer class="rodape">
    <div class="container-rodape">
        <div class="tsb-redes-app">
            <div class="logo-tsb" id="logo-tsb">
                <a href="/index.html"><i class="fa-solid fa-house footer-icons"></i></a>
                <p>TSB</p>
            </div>
            <p class="nossas-redes-sociais">Nossas redes sociais</p>
            <div class="row logos-redes">
                <div class="col-md-1 text-center">
                    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook footer-icons"></i>
                    </a>
                </div>
                <div class="col-md-1 text-center">
                    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-instagram footer-icons"></i>
                    </a>
                </div>
                <div class="col-md-1 text-center">
                    <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-youtube footer-icons"></i>
                    </a>
                </div>
                <div class="col-md-1 text-center">
                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-twitter footer-icons"></i>
                    </a>
                </div>
            </div>
            <div class="responsive-apps">
                <a href="https://play.google.com/store/apps" target="_blank" rel="noopener noreferrer">
                    <div class="app-android">
                        <i class="fa-solid fa-robot android-icon"></i>
                        <div class="app-android-txt">
                            <p>App do top seguros para</p>
                            <h1>Android</h1>
                        </div>
                    </div>
                </a>
                <a href="https://www.apple.com/br/app-store" target="_blank" rel="noopener noreferrer">
                    <div class="app-apple">
                        <i class="fa-brands fa-apple apple-icon"></i>
                        <div class="app-apple-txt">
                            <p>App do top seguros para</p>
                            <h1>Apple</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container-contato">
            <div class="titulo-contato">
                <h1>Contatos</h1>
            </div>
            <div class="divs-contatos">
                <div class="contatos">
                    <i class="fa-solid fa-circle-info"></i>
                    &nbsp;<a href="#">Denúncia</a>
                </div>
                <div class="contatos">
                    <i class="fa-solid fa-location-pin"></i>
                    &nbsp;<a href="#">Endereço</a>
                </div>
                <div class="contatos">
                    <i class="fa-solid fa-envelope"></i>
                    &nbsp;<a href="#">E-mail</a>
                </div>
                <div class="contatos">
                    <i class="fa-solid fa-phone"></i>
                    &nbsp;<a href="#">SAC</a>
                </div>
                <div class="contatos">
                    <i class="fa-solid fa-headset"></i>
                    &nbsp;<a href="#">Ouvidoria</a>
                </div>
                <div class="contatos">
                    <i class="fa-solid fa-user"></i>
                    &nbsp;<a href="#">Encontre um corretor</a>
                </div>
            </div>
        </div>
        <div class="container-transparencia">
            <div class="titulo-transparencia">
                <h1>Transparência</h1>
            </div>
            <div class="links-transparencia">
                <div class="conteudos-t">
                    <a href="#">Quem somos</a>
                </div>
                <div class="conteudos-t">
                    <a href="#">Trabalhe conosco</a>
                </div>
                <div class="conteudos-t">
                    <a href="#">Nosso Blog</a>
                </div>
                <div class="conteudos-t">
                    <a href="#">Termos de uso</a>
                </div>
                <div class="conteudos-t">
                    <a href="#">Dicas de Segurança</a>
                </div>
                <div class="conteudos-t">
                    <a href="#">Politicas de Privacidade</a>
                </div>
            </div>
        </div>
    </div>
</footer>