<nav class="navbar navbar-expand static-top">

    <a class="navbar-brand mr-1 text-light text-center" routerLink="/">
        <img height="50" width="50" src="../assets/icons/favicon.png" alt="Top Seguros Brasil">
        &nbsp; Top Seguros Brasil
    </a>

    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group"></div>
    </form>
    <ul class="navbar-nav ml-auto ml-md-0">
        <div *ngIf="userService.isLogged() | async">
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle text-light" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bem-vindo, {{ (userName | async) }}
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLink='/configuration'>
                        <i class="fa-solid fa-gear"></i>
                        &nbsp;Configurações
                    </a>                    
                    <div class="dropdown-divider"></div>
                    
                    <a (click)="logout()" class="dropdown-item" style="cursor:pointer">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        &nbsp;Sair
                    </a>
                </div>
            </li>
        </div>
    </ul>
</nav>
