.navbar {
	padding: 5px 0 5px 10px;
	background-color: rgb(0, 0, 0, 0.87);
	box-shadow: black 0px 0px 8px;
	font-family: "Poppins", sans-serif;
}

.nav-title{
	color: #1FBD9B;
	text-shadow: 5px 5px 5px black;
	//color: rgb(240, 240, 240);
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 420px){
	.nav-link span{
		display: none;
	}
	.nav-title {
		display: none;
	}
	.nav-link i{
		font-size: 250%;
	}
}

