<div class="valor-residencia">
  <h4 class="titulo-res text-center">Digite o valor da sua residencia</h4>
  <p class="desc-res text-center">*Obs: O valor aproximado da sua residencia é definido pelo valor que foi pago na compra, ou valor similar as residencias semelhantes por perto*</p>
  <div class="container-input text-center">
    <input 
    [ngModel]="valorResidencia | addCurrency" 
    (ngModelChange)="valorResidencia=$event"
    type="text" name="valorRESIDENCIA" id="valorRESIDENCIA" class="text-center" placeholder="Ex: R$250.000,00"/>
  </div>
</div>
<h4 class="price-selector-title mb-5">
  Personalize seu plano de seguro com o preço que cabe no seu bolso!
</h4>
<form (ngSubmit)="onSubmit()">
  <div class="row justify-content-center container-prices">
    <app-price-selector
      class="col-auto mb-5 app-price"
      *ngFor="let priceSelector of priceSelectorList"
      [priceSelector]="priceSelector">
    </app-price-selector>
  </div>
  <div class="row justify-content-center total-section residencia-mensalidade">
    <div class="mb-3 text-center">
      <input type="text" name="total"
        readonly class="total-input"
        [ngModel]="insuranceService.insurancePlan.total | currency | addBeforeText: 'Mensalidade Total: '" 
        (ngModelChange)="insuranceService.insurancePlan.total=$event">
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="submit" [disabled]="btnDisabled" class="btn btn-success btn-implemented">{{ btnConfirmText }}</button>
  </div>
</form>
