h2, h5, .text-dark{
    font-family: "Poppins", sans-serif;
}

.profile-name {
    margin: 30px 0 40px 0;
}

.profile-sec {
    margin-bottom: 20px;
    background-color: rgb(228, 228, 228);
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
}

span {
    font-size: 120%;
}

.profile-sec > .row > .col-md {
    max-width: 330px;
    margin: 10px 0;
    font-weight: 400;
}

.profile-sec > h5 {
    margin-bottom: 20px;
    font-size: 150%;
}


.profile-sec > .row {
    justify-content: space-between;
}

.profile-icon {
    font-size: 20px;
}

.profile-icon::after {
    content: '\00a0'
}