<h3>Seu Perfil</h3>
<hr>
<form (ngSubmit)="onSubmit()">
  <div class="container-infos">
    <div class="row container-dados-usuario">
      <input class="col-md dados-usuario" type="text" required="required" placeholder="Nome" name="name" id="name-user" [value]="(infos | async).user.name">
      <input class="col-md dados-usuario" type="text" required="required" placeholder="Documento" maxlength="14" name="document" id="document-user" [value]="(infos | async).user.document">
      <input class="col-md dados-usuario" type="text" required="required" placeholder="Usuário" name="username" id="username-user" [value]="(infos | async).user.credential.username">
      <input class="col-md dados-usuario" type="tel" required="required" placeholder="Telefone" maxlength="18" name="phone number" id="tel-user">
      <h3>Endereço</h3>
      <div class="row endereco-usuario">
        <input class="col-md dados-endereco-usuario" type="text" required="required" placeholder="CEP" name="address" maxlength="9" id="cep-user">
        <select class="col-md dados-endereco-usuario" name="state" required="required" id="state-user">
          <option value="">Estado</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catanarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantis</option>
        </select>
        <input class="col-md dados-endereco-usuario" type="text" required="required" placeholder="Cidade" name="city" id="city-user">
      </div>
      <div class="row endereco-usuario">
        <input class="col-md dados-endereco-usuario" type="text" required="required" placeholder="Bairro" name="" id="distric-user">
        <input class="col-md dados-endereco-usuario" type="text" required="required" placeholder="Rua" name="" id="road-user">
        <input class="col-md dados-endereco-usuario" type="text" required="required" placeholder="N°" name="number" id="numberofhouse-user">
        <input class="col-md dados-endereco-usuario" type="text" required="required" placeholder="Complemento" name="complement" id="complement-user">
      </div>
    </div>
    <div class="container-dados-assinatura">
      <div class="border-assinatura">
        <div class="row container-assinatura-btn">
          <input class="col-md dados-assinatura" type="text" placeholder="Assinatura" name="plan-type" id="">
          <button type="submit" class="btn btn-success btn-alterar-plano">Adquirir novo plano</button>
        </div>
        <input class="col-md dados-assinatura" type="text" placeholder="Mensalidade" name="fee" id="">
      </div>
    </div>
    <button type="submit" class="btn btn-warning">Atualizar Informações</button>
  </div>
</form>