<h2 class="profile-name">Olá, {{ (infos | async).user.name }}</h2>
<section class="profile-sec">
  <h5>Apólice e Pagamentos</h5>
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-receipt"></i>Segunda via da Apolice
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-file-invoice-dollar"></i>Relação de Parcelas
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-file-lines"></i>Orientações Débito em conta
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-file-invoice"></i>Condições Gerais
      </a>
    </div>
  </div>
</section>
<section class="profile-sec">
  <h5>Sinistro</h5>
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark" routerLink="/services">
        <i class="fa-solid profile-icon fa-bell"></i>Aviso de sinistro
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-display"></i>Envio de Documentos online
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-file"></i>Documentação de Sinistro
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-rotate"></i>Constatação Online
      </a>
    </div>
  </div>
</section>
<section class="profile-sec">
  <h5>Assistência 24h</h5>
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-bullhorn"></i>SOS
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-phone"></i>Telefones 24h
      </a>
    </div>
  </div>
</section>
<section class="profile-sec">
  <h5>Mais Serviços</h5>
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-wrench"></i>Rede de Serviços
      </a>
    </div>
  </div>
</section>
<section class="profile-sec">
  <h5>Meu Perfil</h5>
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark" routerLink="/configuration">
        <i class="fa-solid profile-icon fa-user"></i>Dados Pessoais
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-mobile-screen-button"></i>Informações de Contato
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-pen-to-square"></i>Alteração de Dados
      </a>
    </div>
    <div class="col-md-3">
      <a class="text-dark" routerLink="/">
        <i class="fa-solid profile-icon fa-shield"></i>Informações por Produto
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark" routerLink="/configuration">
        <i class="fa-solid profile-icon fa-lock"></i>Configurações de Privacidade
      </a>
    </div>
  </div>
</section>