<div class="price-selector">
  <i class="fa-solid fa-{{icon}} selector-icon"></i>
  <span class="selector-title">{{title}}</span>
  <div class="selector-container">
    <select name="a" id="a" class="select-input" [(ngModel)]="selected">
      <option class="option" *ngFor="let item of list" [value]="item.value" [attr.selected]="item.text">
        {{item.text}}
      </option>
    </select>
  </div>
  <div class="selector-container">
    <input class="total-input" readonly type="text" name="" id="" [(ngModel)]="total">
  </div>
</div>