.price-selector {
	justify-self: center;
}

.selector-container {
	border: 5px solid #00A88A;
	border-radius: 20px;
	height: 50px;
	width: 200px;
	margin: 10px auto;
}

.selector-title {
	display: block;
	text-align: center;
	margin: 15px 0;
}

.selector-icon {
	display: block;
	text-align: center;
	font-size: 46px;
}

.select-input {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: none;
	background-color: transparent;
}

.option {
	text-align: center;
}

.total-input {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: none;
	text-align: center;
	background-color: transparent;
}