<div class="area-container-login">
    <div class="container-login">
        <h4 class="iniciar">Iniciar Sessão</h4>
        <div class="login-password">
            <form (ngSubmit)="onSubmit()" class="login-form">
                <input type="username" name="username" class="form-control" placeholder="Usuário" #Username id="Username" [(ngModel)]="credentials.username">
                <input type="password" name="password" class="form-control" placeholder="Senha" #Password id="Password" [(ngModel)]="credentials.password" autocomplete="new-password">
                <a routerLink="/register" class="text-dark"><sub style="float:left;">Cadastre-se</sub></a>
                <a routerLink="/" class="text-dark"><sub style="float:right">Esqueci minha senha</sub></a><br>
                <button class="btn btn-primary btn-entrar">Entrar</button>
            </form>
        </div>
    </div>
</div>