*{
    font-family: Poppins;
}

.area-container-login{
    min-height: 65vh;
    padding-top: 40px;
    background-image: url(../../../assets/images/background-login-register.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 775px;
}
/*
@media screen and (max-width: 1024px) {
    .area-container-login{
        background-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    .area-container-login{
        background-size: 115%;
    }
}

@media screen and (max-width: 540px) {
    .area-container-login{
        background-image: none;
    }
}*/
.container-login{
    min-width: 160px;
    max-width: 350px;
    padding: 0 15px;
    margin: 50px auto 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.397);
    box-shadow: rgba(140, 204, 190, 0.568) 0px 0px 8px;
    background-color: whitesmoke;
}

.iniciar {
    font-weight: bolder;
    padding: 20px 0;
    margin: 0;
}

.login-password {
    margin: auto;
}

.form-control {
    margin-bottom: 10px;
}

.btn-entrar {
    font-weight: bolder;
    background-color: rgb(38, 184, 152);
    border: none;
    font-size: 150%;
    margin: 20px auto;
    width: 100%;
}

.regis-forgetpass{
    margin: auto;
    width: 100%;
    font-size: 90%;
    justify-content: space-between;
}

.regis-forgetpass > .col-md{
    text-align: center;
    display: flex;
    width: max-content;
    padding: 0 !important;
}