<div class="area-container-registrar">
    <div class="container-registrar">
        <h4>Cadastre-se</h4>
        <div class="registrar-infos">
            <form (ngSubmit)="onSubmit()" class="register-form">
                <input type="name" name="name" class="form-control" placeholder="Nome" #Name id="Name" [(ngModel)]="register.name">
                <input type="document" name="document" class="form-control" placeholder="Documento" #Document id="Document" [(ngModel)]="register.document">
                <input type="username" name="username" class="form-control" placeholder="Usuário" #Username id="Username" [(ngModel)]="register.username">
                <input type="password" name="password" class="form-control" placeholder="Senha" #Password id="Password" [(ngModel)]="register.password" autocomplete="new-password">
                <input type="password" name="repassword" class="form-control" placeholder="Repetir Senha" #Repassword id="Repassword" [(ngModel)]="register.repassword" autocomplete="new-password">
                <button class="btn btn-primary btn-cadastrar">Cadastrar</button>
            </form>
        </div>
    </div>
</div>