/*Servicos Imagens e Texto*/
.container-servs-beneficios{
    display: block;
    margin: auto;
    width: auto;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.texto-servs{
    margin-top: 3%;
    font-weight: bolder;
	font-family: "Poppins", sans-serif; 
}

.div-imagens-servs{
    display: flex;
}

.responsive-servs1, .responsive-servs2{
    width: 50vw;
    display: flex;
}

.div-imagens-servs img{
    width: 55px;
    height: 55px;
}

.img1, .img2, .img3, .img4, .img5, .img6{
    width: 18%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    text-align: center;
    font-weight: bold;
}

/*Beneneficios Imagens e Texto*/
.div-imagens-benef{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.div-imagens-benef img{
    width: 80px;
    height: 75px;
}

.imgcelular, .imgcalendario, .imgclipboard{
    width: 25%;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    display: block;
    text-align: center;
    align-content: center;
}

.txtcelular, .txtcalendario, .txtclipboard{
    font-weight: bold;
    margin-bottom: 5%;    
}
.txtcelular2, .txtcalendario2, .txtclipboard2{
    width: 150%;
    height: auto;
    text-align: center;
    margin-left: -25%;
    overflow: hidden;
}

/*Download app Mobile*/
.area-app-mobile{
    display: block;
    margin: auto;
    width: auto;
    max-width: 1024px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 50px 50px 50px;
}

.retangulo-app-mobile{
    display: flex;
    height: 40vh;
    border-radius: 40px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.438) 0px 0px 50px;
    background-image: linear-gradient(to bottom, blue, rgb(0, 238, 255));

}

.texto-e-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 50vw;
    padding: 5px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-image: linear-gradient(to bottom, blue, rgb(0, 238, 255));
}

.foto-app-mobile{
    position: relative;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-image: url("../../../assets/images/content/app-mobile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 48vw;
    margin: 0;
}

.titulo-app-mobile{
    color: whitesmoke;
    font-weight: bold;
    font-size: 200%;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.txt-app-mobile{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 120%;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

.botao-app-mobile input{
    background-color: rgba(0, 197, 0, 0.781);
    border: 2px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    font-weight: bolder;
    font-size: 130%;
    padding: 1vh;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    color: white;
    text-shadow: 0px 0px 1px black;
}


.icon-display {
	color: #5f5f5f;
	font-size: 50px;
}

.servicos-types {
	margin: 45px auto 50px auto;
}

.servicos-types > .col-md-4 {
	margin: 25px auto 20px auto;
}

.servicos-text {
	font-weight: 700;
}