<div class="container-pag2">
  <div class="container-servs-beneficios">
    <div class="conteudo1">
      <div class="titulo-servicos">
        <h1 class="texto-servs">
          Serviços presentes no seguro
        </h1>
      </div>
      <div class="row servicos-types">
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-fire icon-display"></i>
          <p class="servicos-text">Incêndio, raio e explosão</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-building icon-display"></i>
          <p class="servicos-text">Perda e pagamento de aluguel</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-wind icon-display"></i>
          <p class="servicos-text">Vendaval, granizo e ciclone</p>
        </div>
      </div>
      <div class="row servicos-types">
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-user-group icon-display"></i>
          <p class="servicos-text">Responsabilidade civil familiar</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-bolt-lightning icon-display"></i>
          <p class="servicos-text">Danos elétricos</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-shield icon-display"></i>
          <p class="servicos-text">Roubos</p>
        </div>
      </div>
    </div>
    <div class="conteudo2">
      <div class="titulo-beneficios">
        <h1 class="texto-servs">
          Principais benefícios
        </h1>
      </div>
      <div class="row beneficios-types">
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-mobile-screen icon-display benefits-imgs"></i>
          <p class="titulo-100digital">100% Digital</p>
          <div class="txt-100digital">
            <p>Personalizar/acionar o seguro de forma simples e rápida pelos seu dispositivo eletronico.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-calendar icon-display benefits-imgs"></i>
          <p class="titulo-assinaturas">Opção de assinatura mensal ou anual</p>
          <div class="txt-assinaturas">
            <p>Qualquer plano anual você recebe 20% de desconto e no plano mensal possui a opção de cancelar a
              assinatura quando quiser sem pagar multa.</p>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa-solid fa-clipboard icon-display benefits-imgs"></i>
          <p class="titulo-personalize">Personalizar seu Plano</p>
          <div class="txt-personalize">
            <p>Você pode escolher o valor de cada cobertura ou comprar um plano preparado pela nossa equipe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-pag3">
  <div class="area-app-mobile">
    <div class="retangulo-app-mobile">
      <div class="foto-app-mobile"></div>
      <div class="texto-e-btn">
        <div class="titulo-app-mobile">
          <p>Baixe o App para Mobile</p>
        </div>
        <div class="txt-app-mobile">
          <p>Acesse e modifique seus dados tudo pelo celular</p>
        </div>
        <div class="botao-app-mobile">
          <input type="button" value="Baixe aqui">
        </div>
      </div>
    </div>
  </div>
</div>